{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="index-background">

        <div class="container mt-5">
            <div class="decorator">
                <h1>
                    Instagram Social Network
                </h1>
                <p>
                    <b>Instagram</b> This project is a simple and small social media platform called Instagram
                </p>
                <a href="{% url 'signup' %}" class="button-index mt-3">
                    Get Started &nbsp;<i class="bi bi-arrow-right-circle-fill"></i>
                </a>
            </div>
        </div>

    </div>

{% endblock %}